on:
  release:
    types:
      - published

jobs:
  build:
    name: Build and upload binary
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Build binary
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -ldflags '-extldflags "-static"' -o ./build/ ./cmd/twd

      - name: Upload binary
        run: gh release upload ${{ github.event.release.tag_name }} ./build/twd
        env:
          GH_TOKEN: ${{ github.token }}
